.video-page {
    display: none; /* По умолчанию скрыта */
}

#videoPage {
    display: block !important; /* Принудительное отображение при активации */
}

.video-item {
    cursor: pointer; /* Индикатор кликабельности */
    transition: transform 0.2s;
}

.video-item:hover {
    transform: translateY(-3px);
}

#videoPlayer {
    background: #000; /* Фон для плеера */
}